<div class="ms-faq">
      <div class="about-content faq">
        <div class="section-heading mb-40">
          <h2>{{ section.settings.heading }}</h2>
        </div>
      </div>
  <ul class="faq-list">
    {% for block in section.blocks %}
      <li class="faq-item">
        <button class="faq-question" onclick="this.classList.toggle('active'); this.nextElementSibling.classList.toggle('show');">
          {{ block.settings.question }}
          <span class="faq-toggle">+</span>
        </button>
        <div class="faq-answer">
          <p>{{ block.settings.answer }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Custom FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Faq Heading",
      "default": "FAQ"
    },
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question-one",
          "label": "Question",
          "default": "Are Your Products Cruelty Free?"
        },
        {
          "type": "textarea",
          "id": "answer-one",
          "label": "Answer",
          "default": "Yes, all our products are 100% cruelty-free and ethically sourced."
        },
        {
          "type": "text",
          "id": "question-tow",
          "label": "Question",
          "default": "Are Your Products Cruelty Free?"
        },
        {
          "type": "textarea",
          "id": "answer-tow",
          "label": "Answer",
          "default": "Yes, all our products are 100% cruelty-free and ethically sourced."
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Custom FAQ",
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}
