<div class="ms-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-log">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/footer-logo.png?v=1756416297" alt="Mensense Logo" /></a>
      </div>
      <p class="tagline">Premium Skincare Made Just For Men — With Global Quality And Indian Sensibility.</p>
      <div class="row footer-links">
        <div class="col-md-8 col-lg-8 col-12">
          <div class="row">
            <div class="col-lg-3 col-12 col-md-3">
              <h4>SHOP</h4>
              <ul>
                <li><a href="/products/uv-defence-spf50">UV Defence</a></li>
                {% comment %} <li><a href="#">UV Defence</a></li>
                <li><a href="#">UV Defence</a></li>
                <li><a href="#">UV Defence</a></li> {% endcomment %}
              </ul>
            </div>
            <div class="col-lg-9 col-12 col-md-9">
              <h4>ABOUT</h4>
              <ul>
                <li><a href="/pages/about-us">About us</a></li>
                <li><a href="/pages/contact">Contact us</a></li>
                <li><a href="/pages/return-refund-policy">Return & Refund Policy</a></li>
                <li><a href="/pages/terms-conditions">Terms & Conditions</a></li>
                <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="social-icons">
            <span>Follow us on:</span>
            <a href="#"><i class="icon-facebook"><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/facbook.svg?v=1756535240" alt="facbook"></i></a>
            <a href="#"><i class="icon-twitter"><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/twitter.svg?v=1756535240" alt="twitter"></i></a>
            <a href="#"><i class="icon-instagram"><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/youtube.svg?v=1756535240" alt="youtube"></i></a>
            <a href="#"><i class="icon-youtube"><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/instagram.svg?v=1756535240" alt="instagram"></i></a>
          </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
      <p>© Copyright 2025. All Rights Reserved</p>
      <p class="developed-by">Design And Developed by <a class="footer-coherentlab-logo" href="https://www.coherentlab.com/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/clab.png?v=1756418220" alt="Mensense Logo" /></a></p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Footer",
  "tag": "section",
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}