<section class="hero-section overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Content -->
      <div class="col-lg-7 col-md-12">
        <div class="hero-content">
          <div class="section-heading mb-40">
            <h1 class="section-title wow fade-in-bottom" data-wow-delay="400ms">
              Look Good <br>Live Bold.
            </h1>
            <p>Premium skincare made just for men — with global<br> quality and Indian sensibility.</p>
          </div>

          <div class="hero-btn-wrap">
            <a href="#" class="ed-primary-btn">Try it today</a>
          </div>

          <div class="hero-author">
            <ul>
              <li><img src="https://cdn.shopify.com/s/files/1/0949/0975/9774/files/author-img.png?v=1755779268" alt="author"></li>
            </ul>
            <h5><span>100k</span> Happy Customers</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-gradient-banner-bottom">
    <h2>mensense</h2>
  </div>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Look Good Live Bold."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Try it today"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}

