<div class="product-image-slider-wrapper">
  <div class="product-image-slider">
    <div><img src="..." /></div>
    <div><img src="..." /></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  $('.product-image-slider').each(function(){
    if (!$(this).hasClass('slick-initialized')) {
      $(this).slick({
        dots: true,
        arrows: true,
        infinite: true,
        slidesToShow: 1,
        adaptiveHeight: true
      });
    }
  });
});

</script>