.hero-section {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-image: url(https://cdn.shopify.com/s/files/1/0949/0975/9774/files/banner-bg.png?v=1755610864);
  background-size: cover;
  background-repeat: no-repeat;
}

.mt-85 {
  margin-top: 85px;
}

.mb-40 {
	margin-bottom: 40px;
}

.hero-content .section-heading .section-title {
	font-size: 96px;
	font-weight: 800;
  color: #11182B;
  text-align: left;
}

.section-heading .section-title {
  color: #11182B;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 600;
	display: block;
	margin-bottom: 0;
	text-transform: inherit;
	position: relative;
}

.hero-content .hero-btn-wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 15px;
	-moz-column-gap: 30px;
	column-gap: 30px;
	margin-bottom: 40px;
}

.ed-primary-btn {
  font-family: "Nunito Sans", sans-serif !important;
	background: linear-gradient(to bottom, #58718F 0%, #11182B 100%);
	font-family: na;
	color: #fff;
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: 17px 40px;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	position: relative;
	z-index: 1;
  text-decoration: none;
}

.ed-primary-btn:hover {
  color: #fff;
}

.hero-content .hero-author {
	display: flex;
	align-items: center;
	-moz-column-gap: 15px;
	column-gap: 15px;
	flex-wrap: wrap;
	row-gap: 15px;
	margin-bottom: 20px;
}

ul {
	display: block;
	padding: 0 !important;
	margin: 0 !important;
}

.hero-content .hero-author ul li {
	display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.hero-content .hero-author ul li {
  max-width: 100%;
}

.hero-content .hero-author h5 {
	font-size: 16px;
	font-weight: 900;
  font-family: "Nunito Sans", sans-serif;
  background: linear-gradient(to right, #58718F 0%, #11182B 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-content .hero-author h5 span {
	background: linear-gradient(to right, #58718F 0%, #11182B 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
  font-weight: 600;
  display: block;
}

.text-gradient-banner-bottom {
  text-align: left;
  width: 100%;
  height: auto;
  margin-top: -153px;
}

.text-gradient-banner-bottom h2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 412px;
  line-height: 519px;
  text-align: center;
  text-transform: lowercase;
  background: linear-gradient(184.01deg, #58718F 27.9%, rgba(88, 113, 143, 0.16) 56.39%, rgba(88, 113, 143, 0) 70.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.pb-120 {
	padding-bottom: 120px;
}

.pt-120 {
	padding-top: 120px;
}

.about-img-wrap {
	max-width: 715px;
	width: 100%;
	position: relative;
}

.about-img-wrap img {
  max-width: 100%;
  height: auto;
  display: block;
}

.md-40 {
  margin-bottom: 40px;
}

.section-heading h2 {
  background: linear-gradient(93.62deg, #58718F 5.96%, #11182B 95.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  letter-spacing: -0.02em;
	display: block;
	margin-bottom: 0;
	text-transform: inherit;
	position: relative;
}

.mt-20 {
	margin-top: 20px;
}

.about-content .section-heading p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito Sans';
}

.sub.hadding-text {
	text-align: center;
	display: block;
	margin-top: 28px;
	margin-bottom: 45px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #000;
}

.products-section {
	display: flex;
	gap: 95px;
	margin-top: 50px;
	width: 70% !important;
	max-width: 70%;
	justify-content: center;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.products-section .img-area-left-about-sec {
    width: 60%;
}

.products-section .img-area-left-about-sec img {
    max-width: 100%;
}

.list-area-about {
  width: 40%;
}

.list-area-about ul {
  padding: 0px;
}

.list-area-about ul li {
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 3px;
}

.list-area-about ul li img {
  max-width: 100%;
  width: 22px;
  height: 22px;
}

.list-area-about ul li p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

.section-area-gradient {
  position: relative;
  background: linear-gradient(180deg, #fff 0%, #e6edf3 100%);
}

.pb-60 {
  padding-top: 40px;
  padding-bottom: 60px;
}

.products-we-create-after-shap-one::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 490px;
	height: 375px;
	background-image: url(/cdn/shop/files/shap1.png?v=1756128174);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.products-we-create-after-shap-one, .products-we-create-before-shap-one {
  position: relative;
}

.products-we-create-before-shap-one::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 440px;
	height: 318px;
	background-image: url(/cdn/shop/files/shap2.png?v=1756129147);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.our-promise-sec {
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	padding: 50px 0px;
	background-image: url(/cdn/shop/files/portrait-man-using-face-cream-with-bg.png?v=1756132342);
	background-attachment: fixed;
}

.promise-content .section-heading p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito Sans';
}

.bg-img-circle {
  background-size: cover;
  background-position: center;
  height: 277px;
  background-image: url(/cdn/shop/files/bg-img-circle.png?v=1756186153);
  width: 100%;
}

.promise-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 55px;
}

.promise-icon {
  position: relative;
  display: flex;
  justify-content: center;
}

.flaticon-shortcuts {
    position: absolute;
    left: -17px;
    top: 4px;
    z-index: 9;
}

.flaticon-shortcuts:before {
  content:"";
  background-size: cover;
  background-position: center;
  display: block;
  justify-content: center;
  background: url(/cdn/shop/files/promise-flaticon-vector.png?v=1756133159);
  width: 118px;
  height: 106px;
  z-index: 1;
}

.promise-icon-shape {
	width: 75px;
	height: 75px;
	text-align: center;
	position: relative;
	z-index: 9;
  margin-top: 13px;
  display: block;
}

.promise-content {
  padding-top: 33px;
  text-align: center;
  width: 100%;
}

.promise-content h4 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #1D283D;
}


/* === Dermatologist Section === */

.dermatologist-section {
  padding: 60px 0;
  padding-top: 120px !important;
}

.dermatologist-bg-gradient {
  background-image: linear-gradient(180deg, #8FB1DA, #ffffff02);
  border-radius: 12px;
  padding: 40px 20px;
}

.dermatologist-bg-gradient h3 {
    color: #11182B;
    font-size: 27px;
    font-weight: 600;
    text-align: left;
    font-family: Nunito Sans;
    display: block;
}

.dermatologist-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* === Feedback Slider === */
.doctor-hading {
    display: flex;
    align-items: center;
    position: relative;
}

.doctor-hading img {
  margin-top: -147px;
}

.feedback-slider {
  display: block;
  visibility: visible;
  overflow: visible;
  margin-top: 20px;
}

.feedback-slide {
  padding: 20px;
  padding-left: 0ox;
  text-align: left;
}

.feedback-slider .slick-dots {
  width: auto;
  right: 17px;
  bottom: 45px;
}

.feedback-slide p {
    font-size: 16px;
    color: #11182B;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.feedback-slide .stars {
  font-size: 18px;
  color: #f5a623;
  margin-bottom: 8px;
}

.feedback-slide strong {
  display: inline-block;
  font-weight: 600;
  color: #222;
  font-size: 20px;
}

.feedback-slider .slick-dots li button:before {
  font-size: 25px;
}

.shop-by-categories {
  padding: 40px 0px;
}

.shop-by-categories .section-title {
  background: linear-gradient(93.62deg, #58718F 5.96%, #11182B 95.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  letter-spacing: -0.02em;
	display: block;
	margin-bottom: 0;
	text-transform: inherit;
	position: relative;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 60px;
}

.product-card {
  border: 1px solid #eee;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.product-card .product-image-link {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 22px;
}

.product-card:hover .product-image-link:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #9eb3cbad;
  left: 0;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-image-link img {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.1rem;
  margin: 10px 0;
}

.product-price {
  color: #444;
  margin-bottom: 10px;
}

.product-actions-icons {
  position: absolute;
  top: 40%;
  right: 26%;
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .product-actions-icons {
  opacity: 1;
}

.icon-btn {
  background: rgba(255,255,255,0.9);
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.shop-all-area {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}


/*----- ABOUT CSS START -----*/
.about-wrapper h1 {
  display: none !important;
}

.about-area-bg {
  width: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0949/0975/9774/files/about-banner-bg.png?v=1756464259);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header-content {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 117px;
  background: linear-gradient(93.62deg, #58718F 5.96%, #11182B 95.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/*----- FAQ CSS -----*/

.ms-faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.faq .section-heading h2 {
  text-align: center;
}

.faq-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

.faq-list {
  list-style: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 15px;
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
}

.faq-question {
  width: 100%;
  background: #b5c4d438;
  border: none;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  border-radius: 5px;
}

.faq-question.active {
  background: linear-gradient(93.62deg, #58718F 5.96%, #11182B 95.95%);
  color: #fff;
}

.faq-question .faq-toggle {
  position: absolute;
  right: 20px;
  font-size: 22px;
  transition: transform .3s ease;
  border: 1px solid #58718f;
  padding: 0px;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 22px;
  margin-top: 2px;
  color: #58718f;
}

.faq-question.active .faq-toggle {
  transform: rotate(45deg);
  border-color: #fff;
  color: #fff;
}

.faq-answer {
  display: none;
  padding: 15px;
  background: #fff;
  font-size: 14px;
  color: #333;
}

.faq-answer p {
  color: #000;
  font-size: 16px;
}

.faq-answer.show {
  display: block;
}


/*----- FOOTER CSS -----*/

.ms-footer {
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://cdn.shopify.com/s/files/1/0949/0975/9774/files/footer-bg.png?v=1756451213);
}

.footer-log a {
  width: 240px;
  margin-bottom: 18px;
  display: flex;
  text-decoration: underline;
}

.footer-log a img {
  max-width: 100%;
}

.ms-footer .tagline {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 500;
  color: #F1F0EC;
  font-family: Nunito Sans;
}

.footer-links h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: Nunito Sans;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-top: 10px;
}

.footer-links ul li a {
  color: #F1F0EC;
  text-decoration: none;
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: #fff;
}

.footer-links {
  padding: 20px 0;
  margin-bottom: 90px;
}

.social-icons {
  text-align: center;
  margin-bottom: 20px;
}

.social-icons span {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Nunito Sans;
}

.social-icons a {
  margin: 0 8px;
  color: #ccc;
  font-size: 18px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  font-size: 16px;
  color: #F1F0EC;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
}

.developed-by {
  display: flex;
  white-space: nowrap;
  align-items: center;
}


@media (max-width: 768px) {
  .dermatologist-section .col-md-4 {
    margin-bottom: 30px;
  }

  .dermatologist-section h3 {
    font-size: 20px;
  }

  .feedback-slide {
    padding: 15px;
  }
}


